{% extends "base.html" %}
{% load static %}

{% block title %}Titre de votre page{% endblock %}

{% block content %}


<style>
table {
    /* styles pour la table */
    margin-top: 2px;
    
    border-collapse: collapse;
    width: 100%;



    
}

th, td {
    /* styles pour les cellules de la table */
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

#image{
    position: relative;
    width: 100%;
    margin-top: 10px;
    

}



</style>

<div id="conteneur">
    <div id="map"></div>
    <div id="conteneur_2">   
        <div id="titre">
            <h3>Cliquer pour voir les informations</h3>
            <p> En cliquant sur chaque canton un tableau s'affiche ci-dessous</p>
        </div>  



        <div id="texte">
            <table>
                <tr>
                    <th>canton</th>
                    <th>Superficie</th>
                </tr>

                <tr>
                    <td id="regionCell"> </td>
                    <td id="habitatsCell"></td>
                </tr>
            </table>

<h4><p>Les informations rélatives aux entités</p></h4>

            <table>
                <tr>
                    <th>infracture</th>
                    <th>Nombre</th>
                </tr>

                <tr>
                    <td>Point d'eau</td>                   
                    <td id="pt"></td>
                    
                </tr>

                <tr>
                    <td>PosteVigi</td>                   
                    <td id="ptvigi"></td>
                </tr>

                <tr>
                    <td>Tranché par feu</td>                   
                    <td id="Tranché"></td>
                </tr>

                <tr>
                    <td>Types d'essences</td>                   
                    <td id="essence"></td>
                </tr>


            </table>

            <h4 id="canton"></h4>

            <div id="image"></div>


           

        </div>
       







    </div>
</div>
{% endblock %}


{% block scripts %}


{% endblock %}
