{% extends "base.html" %}
{% load static %}

{% block title %}Titre de votre page{% endblock %}

{% block content %}


<style>

table {
    /* styles pour la table */
    margin-top: 2px;
    
    border-collapse: collapse;
    width: 100%;
}

th, td {
    /* styles pour les cellules de la table */
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

</style>

<div id="conteneur">
    <div id="map"></div>
    <div id="conteneur_2">   
        <div id="titre">
            <h3>Cliquer pour voir les informations</h3>
            <p> En cliquant sur chaque canton un tableau s'affiche ci-dessous</p>
        </div>  



        <div id="texte">
            <table>
                <tr>
                    <th>canton</th>
                    <th>Superficie</th>
                </tr>
                <tr>
                    <td id="regionCell"> </td>
                    <td id="habitatsCell"></td>
                </tr>
            </table>
        </div>







    </div>
</div>
{% endblock %}


{% block scripts %}


{% endblock %}
