#map {
    left: 0%;
    bottom: 0%;
    top: 0%;
    width: 800px;
    height: 600px;
}
#conteneur {
    display: flex;
}
#texte {
    position: relative;
    width: 400px;
    height: 490px;
    left: 10px;
    margin-top: 10px;
    border: 2px solid black;
    padding-left: 2px;
}
#titre {
    position: relative;
    width: 400px;
    height: 100px;
    left: 10px;
    border: 2px solid black;
    padding-left: 2px;
}
#conteneur_2 {
    display: inline-block;
}
